.aboutUsPage {
    font-family: 'Poppins';

    &__header {
        display: flex;
        &__header1 {
            &--text {
                color: #fff;
                margin-top: 150px;
                font-size: 70px;
                margin-left: 55px;
                letter-spacing: 3px;
            }
            background-color: #071833;
            height: 400px;
            width: 65%;
        }
        &__header2 {
            background-color: #0d4194;
            height: 400px;
            width: 35%;
        }
    }
    &__container {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        &__header,
        &__footer {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            &--quote {
                margin-top: 20px;
                font-size: 24px;
                color: #0d4194;
            }
        }
        &--content {
            padding: 0 110px;
            font-size: 21.4px;
            line-height: 40px;
        }
    }
}
@media screen and (max-width: 910px) {
    .aboutUsPage {
        text-align: center;
        &__header {
            display: flex;
            &__header1 {
                &--text {
                    margin-top: 100px;
                }
                height: 350px;
                width: 100%;
            }
            &__header2 {
                display: none;
            }
        }

        &__container {
            // &__header,
            // &__footer {
            //     text-align: center;
            //     padding-top: 20px;
            //     padding-bottom: 20px;
            //     &--quote {
            //         margin-top: 20px;
            //         font-size: 24px;
            //         color: #0d4194;
            //     }
            // }
            &--content {
                padding: 0 30px;
                font-size: 21.4px;
                line-height: 40px;
            }
        }
    }
}
