@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
}
.nav {
    background: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
    &__menu-bars {
        margin-left: 2rem;
        font-size: 2rem;
        background: none;
        color: #fff;
        transition: all 2 linear;
    }
    &__menu-bars.rotate {
        transform: rotate(180deg);
    }

    &__header {
        display: flex;
        align-items: center;
        &--logo {
            width: 50px;
            margin-left: 1rem;
        }
        &--text,
        &--textAbbr {
            color: rgb(255, 255, 255);
            margin-left: 1rem;
            font-size: 20px;
            font-weight: 00;
        }
        &--textAbbr {
            display: none;
        }
    }
    &__body {
        display: flex;
        margin-right: 2rem;
    }
    &__link,
    &__btn {
        text-align: center;
        color: #fff;
        font-family: Poppins;
        text-decoration: none;
        margin: 0 1rem;
        height: 100%;
        cursor: pointer;
        transition-duration: 1s;
    }

    &__link:hover {
        text-decoration: underline;
    }
    &__btn {
        background-color: rgb(0, 0, 0);
        padding: 0.4rem 1.2rem 0.4rem 1.2rem;
        border: 1px solid white;
        text-align: center;
        margin-left: 1rem;
    }
    &__btn:hover {
        background-color: rgb(233, 233, 233);
        color: black;
    }
    .hamburger {
        display: none;
        color: #fff;
        background: none;
        border: none;
    }
}
@media screen and (max-width: 1122px) {
    .nav {
        .hamburger {
            color: #fff;
            display: block;
            position: absolute;
            padding-right: 20px;
            top: -5px;
            transform: translate(-100%, 75%);
            font-size: 1.8rem;
            cursor: pointer;
        }
        &__body {
            display: none;
        }
        &__header {
            &--text {
                display: none;
            }
            &--textAbbr {
                display: block;
            }
        }
        &__responsive {
            display: block;
            background-color: #051d45;
            width: 100%;
            position: absolute;
            top: 60px;
            flex-direction: column;
            padding-top: 2rem;
            padding-bottom: 2rem;
            text-align: center;
        }
        .item {
            margin: 2rem;
        }
    }
}
