.aboutUs {
    margin-bottom: 50px;
    &__heading {
        margin: 20px;
    }
    &__container {
        display: flex;
        background-color: #0d4194;
        height: 400px;
        color: #fff;
        &--img {
            height: 360px;
            margin: 20px;
            border-radius: 6px;
        }
        &__header {
            text-align: center;
            margin: 20px;
            &--text {
                font-size: 30px;
            }
            &--quote {
                margin-top: 10px;
                font-size: 22px;
            }
        }
        &--content {
            font-size: 25px;
            line-height: 50px;
            padding: 0 2rem;
        }
    }
}
