.pointsTable {
    width: 87%;
    height: 88%;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 40px;
    background-color: #fff;
    overflow-y: scroll;
    font-family: 'Poppins';
    &--header {
        text-align: center;
        color: rgb(27, 27, 27);
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
}
.rwd-table {
    margin: auto;
    min-width: 750px;
    max-width: 100%;
    border-collapse: collapse;
    color: #333;
    border-radius: 0.4em;
    overflow: hidden;
    tr {
        &:first-child {
            border-top: none;
            background: #0d4194;
            color: #fff;
            font-size: 16px;
        }
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f5f9fc;
        border-color: #bfbfbf;
        &:nth-child(odd) {
            &:not(:first-child) {
                background-color: #ebf3f9;
            }
        }
    }
    th {
        display: none;
        text-align: left;
        padding: 0.5em 1em;
    }
    td {
        display: block;
        text-align: left;
        padding: 0.5em 1em;
        &:first-child {
            margin-top: 0.5em;
        }
        &:last-child {
            margin-bottom: 0.5em;
        }
        &:before {
            content: attr(data-th) ': ';
            font-weight: bold;
            width: 120px;
            display: inline-block;
            color: #000;
        }
    }
}
@media screen and (max-width: 601px) {
    .rwd-table {
        tr {
            &:nth-child(2) {
                border-top: none;
            }
        }
    }
}
@media screen and (min-width: 600px) {
    .rwd-table {
        tr {
            &:hover {
                &:not(:first-child) {
                    background-color: #d8e7f3;
                }
            }
        }
        td {
            &:before {
                display: none;
            }
            display: table-cell;
            padding: 0.25em 0.5em;
            padding: 1em !important;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
        th {
            display: table-cell;
            padding: 0.25em 0.5em;
            padding: 1em !important;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
